# Baza separata pentru teste (NU baza reala). Vezi SETUP.md, pasul "Baza de test".
TEST_DATABASE_URL=mysql://USER:PAROLA@gateway01.eu-central-1.prod.aws.tidbcloud.com:4000/dates_test?ssl={"rejectUnauthorized":true}
